.vscode/**
.vscode-test/**
.claude/**
.github/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
package-lock.json
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/.DS_Store
